<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.board.service.impl.BoardMapper">

     <select id="getBoardList" resultType="BoardVO"> 
     SELECT * 
     FROM BOARD2
     order by seq
     </select>
     
     <select id="getBoard" resultType="BoardVO" parameterType="BoardVO"> 
     SELECT * 
     FROM BOARD2
     WHERE SEQ = #{seq}
     </select>
     
     <insert id="insertBoard" parameterType="BoardVO">
     INSERT INTO BOARD2
     VALUES (#{seq},
             #{title},
             #{writer},
             #{content},
             #{fileName}
             )
     </insert>
     
     <!-- 게시글의 댓글 목록 -->
     <select id="getReplyList" resultType="ReplyVO">
     SELECT *
     FROM REPLY
     WHERE BOARD_SEQ=#{board_seq}
     </select>
     
     <!-- 게시글 댓글 등록 -->
     <insert id="insertReply" parameterType="ReplyVO">
     INSERT INTO REPLY
     VALUES ((select nvl(max(seq),0)+1 from reply),
              #{content},
              #{board_seq}
            )
     </insert>
</mapper>